<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<!--style by Jay-->
<style>
	h2
	{
		text-align:center;
	}
	img#drums
	{
		text-align:center;
		margin:auto;
	}
	div.center
	{
		width:200px;
		margin:auto;
	}
	div.center
	{
		margin:auto;
		text-align:center;
	}
	table
	{
		margin:auto;
		border:1px solid black;
	}
	th
	{
		border:1px solid black;
		text-align:center;
		width:100px;
	}
	div.table-container
	{
		margin:auto;
	}
	div.table-center
	{
		text-align:center;
		margin:auto;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
<script language="javascript" type="text/javascript">

	/*$(document).ready(function() {
		$("#th-kick").css("color","red");
	});*/

   var dispatcher = new WebSocketRails('ws://45.55.88.179:3000/websocket');

   var channel = dispatcher.subscribe('sound');

   dispatcher.on_open = function(data) {
     console.log('Connection has been established: ', data);
     // You can trigger new server events inside this callback if you wish.
   }

   var volume = { "high": 1, "medium": .5, "low": .3};

   var playSound = function(data, type) {
     var sound = new Howl({
       urls: ['sounds/' + type + '.wav'],
       autoplay: true,
       loop: false,
       volume: volume[data],
       onend: function() {
         console.log('Finished!');
       }
     });
     sound.play();
   }
   var playZelda = function() {
     var sound = new Howl({
       urls: ['sounds/zelda.mp3'],
       autoplay: true,
       loop: false,
       volume: 1,
       onend: function() {
         console.log('Finished!');
       }
     });
     sound.play();
   }
   channel.bind('hit', function(data) {
     playSound(data, 'hit');
     console.log('channel event received: ' + data);
   });

   channel.bind('kick', function(data) {
     playSound(data, 'kick');
     console.log('channel event received: ' + data);
   });

   channel.bind('snare', function(data) {
     playSound(data, 'snare');
     console.log('channel event received: ' + data);
   });

   channel.bind('start', function(data) {
     playZelda();
     console.log('channel event received: ' + data);
   });
</script>
<h2>WebSocket Test</h2>
<div class="container">
	<div class="center">
		<img src="http://az58332.vo.msecnd.net/e88dd2e9fff747f090c792316c22131c/Images/Products20180-1200x1200-1592542.jpg" alt="Drums" width="200px" id="drums" />
	</div>
</div>
<div class="table-container">
	<div class="table-center">
		<table>
			<th id = "th-kick">KICK</th>
			<th id = "th-snare">SNARE</th>
			<th id = "th-hit">HIT</th>
		</table>
	</div>
</div>
<div id="output"></div>
