<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script language="javascript" type="text/javascript">

   var dispatcher = new WebSocketRails('ws://45.55.88.179:3000/websocket');

   var channel = dispatcher.subscribe('sound');

   dispatcher.on_open = function(data) {
     console.log('Connection has been established: ', data);
     // You can trigger new server events inside this callback if you wish.
   }

   var volume = { "high": 1, "medium": .5, "low": .3};

   var playSound = function(data, type) {
     var sound = new Howl({
       urls: ['sounds/' + type + '.wav'],
       autoplay: true,
       loop: false,
       volume: volume[data],
       onend: function() {
         console.log('Finished!');
       }
     });
     sound.play();
   }
   channel.bind('hit', function(data) {
     playSound(data, 'hit');
     console.log('channel event received: ' + data);
   });

   channel.bind('kick', function(data) {
     playSound(data, 'kick');
     console.log('channel event received: ' + data);
   });

   channel.bind('snare', function(data) {
     playSound(data, 'snare');
     console.log('channel event received: ' + data);
   });
</script>
<h2>WebSocket Test</h2>
<div id="output"></div>