<!DOCTYPE html>
<meta charset="utf-8" />
<title>WebSocket Test</title>
<script language="javascript" type="text/javascript">

   var dispatcher = new WebSocketRails('ws://45.55.88.179:3000/websocket');

   var channel = dispatcher.subscribe('sound');

   dispatcher.on_open = function(data) {
     console.log('Connection has been established: ', data);
     // You can trigger new server events inside this callback if you wish.
   }
   var playSound = function() {
     var sound = new Howl({
       urls: ['sounds/snap7.wav'],
       autoplay: true,
       loop: false,
       volume: 0.5,
       onend: function() {
         console.log('Finished!');
       }
     });
     sound.play();
   }
   channel.bind('sound', function(data) {
    playSound();
     console.log('channel event received: ' + data);
   });

</script>
<h2>WebSocket Test</h2>
<div id="output"></div>